.footer{
	font-size: 10px;
	opacity: 0.7;
	display: flex;
	justify-content: center;
}
.footer p{
	padding: 0 10px;
	text-align: center;
}
.footer-1{
	padding-top: 10px;
	flex-grow: 1;
}
.footer-2{
	flex-grow: 1;
}
