body{
	font-family: Arial, sans-serif;
	background: #EEE;
}
.layout{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}

.header{
	grid-column: 1/13;
	position: sticky;
	top: 0;
}
main{
	grid-column: 5/9;
}
footer{
	grid-column: 5/9;
}